In [1]:
import pandas as pd
from datetime import datetime
from ydata_profiling import ProfileReport

Read csv file. To reduce the operating time, let's temporary work with first 1kk rows.

In [2]:
df = pd.read_csv('BTCUSDT-trades-2023-03-13.csv', names=['id', 'price', 'qty', 'quoteQty', 'time', 'isMaker', 'isBestMatch'], nrows=1000000)
df.head(10)

,id,price,qty,quoteQty,time,isMaker,isBestMatch
0,2940109663,21998.05,0.00154,33.876997,1678665600003,False,True
1,2940109664,21997.11,0.00094,20.677283,1678665600004,True,True
2,2940109665,21997.11,0.00073,16.057890,1678665600004,True,True
3,2940109666,21998.05,0.00215,47.295808,1678665600007,False,True
4,2940109667,21998.08,0.00058,12.758886,1678665600007,False,True
5,2940109668,21998.26,0.00054,11.879060,1678665600007,False,True
6,2940109669,21997.11,0.00066,14.518093,1678665600007,True,True
7,2940109670,21997.11,0.00225,49.493497,1678665600008,True,True
8,2940109671,21998.26,0.00012,2.639791,1678665600014,False,True
9,2940109672,21998.29,0.00656,144.308782,1678665600014,False,True

Prepare the dataframe:
* Since we have auto id numbering -> delete id column.
* since it's 1d trades date -> delete time column.
* rename quoteQty -> usdt

In [3]:
df = df.drop(columns=['time', 'id'])
df =df.rename(columns={'quoteQty': 'usdt'})

It's more convinient to operate and analyse <b>usdt</b> equivalent.
For whales catching need to filter trades: usdt => 1000.


isMaker means that buyer made the order to desired price. In our case, someone wanted to buy tokens "not higher than", which is looks like a preparation for upcoming pump. 

That's why we will work only with isMaker == True.

In [4]:
df = df[df['isMaker'] == True]
df = df[df['usdt'] >= 1000]

I believe that The Whales don't want to be "catched" and will not make enormous giant trades.

In [5]:
df['usdt'].max()

706800.4596

In [7]:
profile = ProfileReport(df, title='Profile Report')
# profile.to_notebook_iframe()